.heroWrapper {
  height: 300px
}

.heroWrapper > h1 {
  text-align: center;
}

.galleryWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.galleryWrapper > div > img {
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}