.contactUsBox {
  background-color: chartreuse;
  margin: 10px;
}

.contactPiece{
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.contactUsBox > div > h2 {
  text-align: center;
  color: white;
  font-size: 30px;
} 

.contactPiece > p {
  margin: 0;
  color: white;
} 

.contactPiece > div {
  width: 50px;
  text-align: center;
  font-size: 35px;
  margin-right: 100px;
  color: white;
}

.contactPiece > div > hr {
  margin: 0;
  color: white;
}