.nav-bar {
  margin: 0px auto;
  width: 700px;
  animation: fadeIn 2s;
  position: sticky;
  top: 0;
  z-index: 1;
}

.hamburger-menu {
  display: none;
  position: absolute;
}

.nav-bar-home {
  position: relative;
  margin: 0px auto 0px;
  width: 550px;
  animation: fadeIn 2s;
}

.nav-section {
  position: sticky;
  top: 0;
  z-index: 1;
  animation: fadeIn 2s;
}

.nav-container {
  position: relative;
  z-index: 1;
  animation: fadeIn 2s;
}

.nav-container-home::before { 
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: -9999px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}

.nav-container::before { 
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: -9999px;
  justify-content: center;
  z-index: -1;
}

.nav-socials {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  height: 50px;
  align-items: center;
} 

.nav-socials-home {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  height: 50px;
  align-items: center;
} 

.nav-section::before {
  content:"";
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: -9999px; 
  opacity: 0.5; 
  z-index: -1;
}

.nav-socials-home > div > p {
  color: black;
  font-size: 18px;
}

.nav-socials > div > p {
  color: white;
  font-size: 18px;
}

.nav-social-icon-home {
  color: black;
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
}

.nav-social-icon {
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  height: 50px;
  align-items: center;
  width: 90%;
}

.flex > li {
  margin: 0 10px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.nav-link-home > a {
  text-decoration: none;
  color: black;
}

.nav-link-home > a:hover {
  color: #7070de;
} 

.nav-link > a {
  text-decoration: none;
  color: white;
  font-family: Playfair Display;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: .5em;
} 

.nav-link > a:hover {
  /* color: #7070de; */
  color: black;
} 

@media (max-width: 700px) {
  .nav-section {
    height: 60px;
  }

  .nav-section::before {
    background-color: white;
  }
  .nav-bar-home {
    width: 100%;

  }

  .nav-bar {
    width: 100%;
  }

  .flex, .nav-socials {
    flex-wrap: wrap;
    display: none;
  }

  .nav-socials-home {
    margin: 0 20px;
  }

  .hamburger-div {
    position: relative;
    height: 60px;
    background-color: rgba(0, 0, 0, .3);

  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    z-index: 100;
    left: 35px;
    top: 20px;
    font-size: 25px;
  }

  .home-hamburger {
    color: white;
  }

  .hide {
    display: none;
    
  }
}

@media (max-width: 400px) {
  .nav-socials-home {
    flex-direction: column;
    height: fit-content;
    background: white;
    margin: 0;
  }
}

@keyframes fadeIn {
  0% {
    color: white;
    opacity: 0;
  }
  25% {
    color: white;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 
