.nav-bar {
  margin: 25px auto;
  width: 700px;
  animation: fadeIn 2s;
  position: sticky;
  top: 0;
}

.hamburger-menu {
  display: none;
  position: absolute;
}

.nav-bar-home {
  position: relative;
  margin: 0px auto 0px;
  width: 550px;
  animation: fadeIn 2s;
}

.nav-section {
  position: sticky;
  top: 0;
  z-index: 1;
  animation: fadeIn 2s;
}

.nav-container {
  position: relative;
  z-index: 1;
  animation: fadeIn 2s;
}

.nav-container::before { 
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: -9999px;
    justify-content: center;
  background-color: rgba(0, 0, 0, .3);
  z-index: -1;
}

.nav-socials {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  height: 50px;
  align-items: center;
  /* background-color: darkcyan; */
  /* border-radius: 10px; */
} 

.nav-section::before {
  content:"";
  /* background-image: url("../../assets/dog-background-image.jpg"); */
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: -9999px; 
  /* box-shadow: 9999px 0 0 url("../../assets/dog-background-image.jpg");  */
  opacity: 0.5; 
  z-index: -1;
}

.nav-socials > div > p {
  color: white;
  font-size: 18px;
}

.nav-social-icon {
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  height: 50px;
  align-items: center;
  width: 90%;
}

.flex > li {
  margin: 0 10px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.nav-link-home > a {
  text-decoration: none;
  color: white;
}

.nav-link-home > a:hover {
  color: #7070de;
  /* color: ; */
} 

.nav-link > a {
  text-decoration: none;
  /* color: black */
  font-family: Playfair Display;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  letter-spacing: .5em;
  text-transform: uppercase;
} 

.nav-link > a:hover {
  color: #7070de;
} 

@media (max-width: 700px) {
  .nav-bar-home {
    width: 100%;

  }

  .nav-bar {
    width: 100%;
  }

  .flex, .nav-socials {
    flex-wrap: wrap;
    display: none;
    
  }

  .hamburger-div {
    position: relative;
    /* height: 30px; */
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    z-index: 100;
    left: 35px;
    top: 20px;
    font-size: 25px;
  }

  .home-hamburger {
    color: white;
  }

  .hide {
    display: none;
    
  }
}

@keyframes fadeIn {
  0% {
    color: white;
    opacity: 0;
  }
  25% {
    color: white;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 
