.nav-bar {
  margin: 25px auto;
  width: 550px;
}

.nav-bar-home {
  margin: 25px auto 290px;
  width: 550px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  height: 50px;
  align-items: center;
  width: 90%;
}

.flex > li {
  margin: 0 10px;
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.flex > li > a {
  text-decoration: none;
  color: white;
}

.flex > li > a:hover {
  color: #7070de;
}


