.pageContainer {
  display: flex;
  flex-direction: column;
    min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.heroSection {
  height: 200px;
}

.heroSection h1 {
  text-align: center;
}

.eventsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.eventCard {
  width: 300px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 460px; */
  height: 550px;
}

.eventCard > div > p, .eventCard > div > h3 {
  text-align: center;
  color: black;
  width: 80%;
  margin: auto;
}

.eventCard > div > p {
  width: 80%;
  margin: auto;
}

.eventCard > a {
  display: block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: lightgray;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.flexRow {
  display: flex;
  margin: 16px 0;
}

.flexRow > div {
  width: 50px;
  text-align: center;
  font-size: 35px;
  margin-right: 40px;
  color: black;
}

.flexRow > p {
  margin: 0;
  color: black;
}
