body h1, body h2 , body h3 {
  color: #000;
  font-family: calluna;
  font-weight: 600;
  font-style: normal;
  letter-spacing: .1em;
  line-height: 1.9em;
}

body p {
  color: #949494;
  font-family: calluna;
  letter-spacing: .015em;
  line-height: 2.3em;
  font-weight: 300;
}

.heroSection {
  height: 300px;
}

.pageHeader {
  margin-top: 50px;
}

.pageHeader > h1 {
  text-align: center;
}

.aboutUsPar {
  width: 80%;
  margin: auto;
}

.businessDetails {
  width: 90%;
  margin: auto;
  text-align: center;
}

.businessInfo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} 

.businessInfo > div {
  width: 300px;
  margin: 10px;
}

.businessInfo > div > h3 {
  color: #000;
  text-align: center;
  font-size: 25px;
  font-family: calluna;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 1.9em;
}

.businessInfo > div > p {
  color: #949494;
  font-family: calluna;
  text-align: center;
  font-size: 13px;
  letter-spacing: .015em;
  line-height: 2.3em;
  font-weight: 300;
}

.howToDiv {
  text-align: center;
  margin: 50px 0px;

}

.howToTag {
  font-size: 16px;
  text-decoration: none;
  padding: 20px 50px;
  background-color: #eee;
  color: #444;
  margin-bottom: 20px;
}

.howToTag:hover {
  background-color: #ccc;
}

.faqSection {
  margin-top: 50px;
  margin-bottom: 50px;
}

.faqSection > h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.faqQuestionWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.questionDivs {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 300px;
  border: none;
  outline: none;
  margin: 10px;
}

.questionsDivs:hover {
  background-color: #ccc;
}

@media (max-width: 700px) {
  .pageHeader {
    margin-top: 25px;
  }
}

@media (max-width: 600px) {
  .heroSection {
    height: 200px;
  }
  .faqQuestionWrapper {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .questionDivs {
    width: 230px;
    margin-bottom: 25px;
  }
}