.ComeVisitBoxWrapper {
  background-color: teal;
  background-size: cover;
  background-position: center;
  max-width: 400px;
  margin: 10px;
}

.wordContent {
  padding: 20px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.wordContent > div {
  width: 100%;
}

.wordContent > h2 {
  text-align: center;
  color: black;
}

.contactInfo {
  display: flex;

}

.contactInfo > div {
  width: 50px;
  text-align: center;
  font-size: 35px;
  margin-right: 50px;
  color: black;
}

.contactInfo > p {
  margin: 0;
  color: black;
}

.clockIcon {
  display: flex;
}

.clockIcon > div {
  width: 50px;
  text-align: center;
  font-size: 35px;
  margin-right: 40px;
  color: black;
}

.clockIcon > p {
  margin: 0;
  color: black;
}

.socialsBlurb {
  text-align: center;
}